[submodule "submodules/angular"]
	path = submodules/angular
	url = git@github.com:hackariens/angular.git
[submodule "submodules/django"]
	path = submodules/django
	url = git@github.com:hackariens/django.git
[submodule "submodules/drupal"]
	path = submodules/drupal
	url = git@github.com:hackariens/drupal.git
[submodule "submodules/electron"]
	path = submodules/electron
	url = git@github.com:hackariens/electron.git
[submodule "submodules/expressjs"]
	path = submodules/expressjs
	url = git@github.com:hackariens/expressjs.git
[submodule "submodules/flutter"]
	path = submodules/flutter
	url = git@github.com:hackariens/flutter.git
[submodule "submodules/github"]
	path = submodules/github
	url = git@github.com:hackariens/github.git
[submodule "submodules/joomla"]
	path = submodules/joomla
	url = git@github.com:hackariens/joomla.git
[submodule "submodules/laravel"]
	path = submodules/laravel
	url = git@github.com:hackariens/laravel.git
[submodule "submodules/nextjs"]
	path = submodules/nextjs
	url = git@github.com:hackariens/nextjs.git
[submodule "submodules/nuxtjs"]
	path = submodules/nuxtjs
	url = git@github.com:hackariens/nuxtjs.git
[submodule "submodules/phpfpm"]
	path = submodules/phpfpm
	url = git@github.com:hackariens/phpfpm.git
[submodule "submodules/prestashop"]
	path = submodules/prestashop
	url = git@github.com:hackariens/prestashop.git
[submodule "submodules/quasar"]
	path = submodules/quasar
	url = git@github.com:hackariens/quasar.git
[submodule "submodules/react"]
	path = submodules/react
	url = git@github.com:hackariens/react.git
[submodule "submodules/socketio"]
	path = submodules/socketio
	url = git@github.com:hackariens/socketio.git
[submodule "submodules/strapi"]
	path = submodules/strapi
	url = git@github.com:hackariens/strapi.git
[submodule "submodules/sveltejs"]
	path = submodules/sveltejs
	url = git@github.com:hackariens/sveltejs.git
[submodule "submodules/symfony"]
	path = submodules/symfony
	url = git@github.com:hackariens/symfony.git
[submodule "submodules/vuejs"]
	path = submodules/vuejs
	url = git@github.com:hackariens/vuejs.git
[submodule "submodules/wordpress"]
	path = submodules/wordpress
	url = git@github.com:hackariens/wordpress.git
